@tailwind base;
@tailwind components;
@tailwind utilities;

#slider-pagination::-webkit-scrollbar {
  width: 10px;
  height: 10px !important;
}

/* Track */
#slider-pagination::-webkit-scrollbar-track {
  background: #ccc;
  border: 4px solid transparent;
  background-clip: content-box;
  height: 10px !important;
}

/* Handle */
#slider-pagination::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border: 2px solid rgb(255, 255, 255);
  height: 10px !important;
  border-radius: 50px;
}
